body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #E1F2F7;
  color: #000000;
}

.container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  background-color: #EF0D50;
  font-size: 1.2rem;
  border: none;
  width: 20%;
  padding: 1%;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
  margin: 1% 0 5% 0;
}

button:hover {
  background-color: #ef0d51af;
}